* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Ubuntu", sans-serif;
  }

  html, body{
    width: 100%;  
    height: 100%;
    background-color: rgb(34, 34, 34);
  }

  .container {
    display: grid; 
    grid-auto-flow: column; 
    grid-auto-columns: 1fr; 
    grid-template-columns: 1fr 1fr 1fr; 
    
    gap: 0px 0px; 
    grid-template-areas: 
      "Cidade fatec Site-oficial"
      "Img menu Img2"
      "materias materias materias"; 
  }
  .Cidade { grid-area: Cidade; }
  .fatec { grid-area: fatec; }
  .Site-oficial { grid-area: Site-oficial; }
  .Img { grid-area: Img; }
  .menu { grid-area: menu; }
  .Img2 { grid-area: Img2; }
  .materias {
    display: grid; 
    grid-template-columns: 1fr 1fr 1fr; 
    grid-template-rows: 1.4fr 1.3fr 1.4fr; 
    gap: 0px 0px; 
    grid-template-areas: 
      "materia materia materia"
      "materia materia materia"
      "materia materia materia"; 
    grid-area: materias; 
  }
  .materia1 { grid-area: materia; }
  .materia2 { grid-area: materia; }
  .materia3 { grid-area: materia; }

  a{
    text-decoration: none;
    color: rgba(150,201,61,1)
  }

  h1{
    color: #fff;
    font-size:32px;
  }
  .card{
    color: white;
    font-size: 20px;
    padding-top: 0;
    text-align: justify;
  }

  p{
    color: white;
    font-size: 20px;
    padding-top: 40px;
    text-align: justify;
  }



  .Cidade { 
    background-color: rgb(59, 60, 61);
    color: white;
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: center
   }
  
  .fatec { 
    background-color: rgb(59, 60, 61);
    color: white;
    display: flex;
    align-items: center;
    justify-content: center
   }

   .Site-oficial { 
    background-color: rgb(59, 60, 61);
    color: white;
    display: flex;
    align-items: center;
    justify-content: center
   }
  
   .Img { 
     grid-area: Img;
     height: 140px;
     display: flex;
     align-items: center;
     justify-content: center;
     background: rgb(255, 255, 255);
  }

   .logo{
     width: 250px;
     height: 120px;
     background:rgb(138, 136, 136) ;
   }
   
   .Img2 { grid-area: Img2;
    height: 140px;
    display: flex;
    align-items: center;
    justify-content: center;
    background: rgb(255, 255, 255);
  }
   .logo-franco{
    width: 200px;
    height: 110px;
   }

   .menu { 
    grid-area: menu;
    height: 140px;
    width: 1000px;
    display: flex;
    align-items: center;
    justify-content: center;
    background: rgb(255, 255, 255);
  }

  .btn{
    background-color: rgb(66, 65, 65);
    width: 150px;
    height: 50px;
    padding: 0px;
    color: white;
    border-radius: 5px;
    
    cursor: pointer;
  }

  .btn:hover{
    background: linear-gradient(to bottom, rgba(28, 44, 42, 0.5), rgba(150,201,61,1));
  }

  .materias{
    display: flex;
    width: 100%;
    justify-content: space-around;
  }

  .materia{
    width: 400px;
    height: 500px;
    padding: 2rem 1rem;
    background: #fff;
    position: relative;
    display: flex;
    align-items: flex-end;
    box-shadow: 0px 7px 10px rgba(0,0,0,0.5);
    transition: 0.5s ease-in-out;
    margin-top: 100px;
    
  }
  
  
  .materia:hover{
      transform: translateY(20px);
  }

  .materia:before{
    content:"";
    position: absolute;
    top: 0;
    left: 0;
    display: block;
    width: 100%;
    height: 100%;
    background: linear-gradient(to bottom, rgba(28, 44, 42, 0.5), rgba(150,201,61,1));
    z-index: 2;
    transition: 0.5s all;
    opacity: 0;
  }

  .materia:hover:before{
      opacity: 1;
  }

  .materia img{
    width: 400px;
    height: 500px;
    position: absolute;
    top: 0;
    left: 0;
  }
  .materia .info{
      position: relative;
      z-index: 3;
      color: #fff;
      opacity: 0;
      transform: translateY(30px);
      transition: 0.5s all;
  }

  .materia:hover .info{
      opacity: 1;
      transform: translateY(0px);

  }

  .materia .info h3{
      margin: 0;
      font-size: 25px;
      color: black;
  } 

  .materia .info p{
      letter-spacing: 1px;
      font-size: 20px;
      margin-top: 8px;
      margin-bottom: 20px;
      color: black;
  }

  .materia .info .botao{
      text-decoration: none;
      padding: 0.5rem 1rem;
      background: #fff;
      color: #000;
      font-size: 14px;
      font-weight: bold;
      cursor: pointer;
      transition: 0.4s ease-in-out;
  }

  .materia .info .botao:hover{
    box-shadow: 0px 7px 10px rgba(0,0,0,0.5);

  }

  .box{
  margin-top: 40px;
  width: 800px;
  height: 500px;
  }

  .titulo{
    display: block;
   
    
   
}
.titulo:after {
    content:"";
    background: linear-gradient(to left, rgba(28, 44, 42, 0.5), rgba(150,201,61,1));
    display: block;
    height: 10px;
    width: 800px;
    
    bottom: 0;
}

.materias2{
  display: flex;
  width: 100%;
  height: 1000px;
  justify-content: space-around;
}


.wrapper{
  display: inline-flex;
}
.wrapper .icon{
  margin: 0 20px;
  text-align: center;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  position: relative;
  z-index: 2;
  transition: 0.4s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}
.wrapper .icon span{
  display: block;
  height: 60px;
  width: 60px;
  background: #fff;
  border-radius: 50%;
  position: relative;
  z-index: 2;
  box-shadow: 0px 10px 10px rgba(0,0,0,0.1);
  transition: 0.4s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}
.wrapper .icon span i{
  line-height: 60px;
  font-size: 25px;
}
.wrapper .icon .tooltip{
  position: absolute;
  top: 0;
  z-index: 1;
  background: #fff;
  color: #fff;
  padding: 10px 18px;
  font-size: 20px;
  font-weight: 500;
  border-radius: 25px;
  opacity: 0;
  pointer-events: none;
  box-shadow: 0px 10px 10px rgba(0,0,0,0.1);
  transition: 0.4s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}
.wrapper .icon:hover .tooltip{
  top: -70px;
  opacity: 1;
  pointer-events: auto;
}
.icon .tooltip:before{
  position: absolute;
  content: "";
  height: 15px;
  width: 15px;
  background: #fff;
  left: 50%;
  bottom: -6px;
  transform: translateX(-50%) rotate(45deg);
  transition: 0.4s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}
.wrapper .icon:hover span{
  color: #fff;
}
.wrapper .icon:hover span,
.wrapper .icon:hover .tooltip{
  text-shadow: 0px -1px 0px rgba(0,0,0,0.4);
}
.wrapper .facebook:hover span,
.wrapper .facebook:hover .tooltip,
.wrapper .facebook:hover .tooltip:before{
  background: #3B5999;
}
.wrapper .twitter:hover span,
.wrapper .twitter:hover .tooltip,
.wrapper .twitter:hover .tooltip:before{
  background: #46C1F6;
}
.wrapper .instagram:hover span,
.wrapper .instagram:hover .tooltip,
.wrapper .instagram:hover .tooltip:before{
  background: #e1306c;
}
.wrapper .github:hover span,
.wrapper .github:hover .tooltip,
.wrapper .github:hover .tooltip:before{
  background: #333;
}
.wrapper .youtube:hover span,
.wrapper .youtube:hover .tooltip,
.wrapper .youtube:hover .tooltip:before{
  background: #DE463B;
}


  