
 * {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Ubuntu", sans-serif;
}

.container {
    display: grid;
    grid-template-columns: 0.8fr 1.4fr 0.8fr;
    grid-template-rows: 0.4fr 0.9fr 1.9fr;
    grid-auto-columns: 1fr;
    gap: 0px 0px;
    grid-auto-flow: column;
    grid-template-areas:
      "Cidade fatec Site-oficial"
      "Img menu Img2"
      "Search carrosel imgs";
  }
  
  .Cidade { 
    background-color: rgb(59, 60, 61);
    color: white;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center
   }
  
  .fatec { 
    background-color: rgb(59, 60, 61);
    color: white;
    display: flex;
    align-items: center;
    justify-content: center
   }

   .Site-oficial { 
    background-color: rgb(59, 60, 61);
    color: white;
    display: flex;
    align-items: center;
    justify-content: center
   }
  
   .Img { 
     grid-area: Img;
     display: flex;
     align-items: center;
     justify-content: center
  }

   .logo{
     width: 250px;
     height: 120px;
   }
   
   .Img2 { grid-area: Img2;
    display: flex;
    align-items: center;
    justify-content: center
  }
   .logo-franco{
    width: 200px;
    height: 110px;
   }

   .menu { grid-area: menu;
    display: flex;
    align-items: center;
    justify-content: center
  }

  .btn{
    background-color: rgb(66, 65, 65);
    width: 100px;
    height: 30px;
    padding: 0px;
    color: white;
    border-radius: 10px;
    border: 1px solid;
    cursor: pointer;
  }

  .btn:hover{
    background-color: rgb(36, 35, 35);
  }
  


  .Search { 
    grid-area: Search;

   }
  
  
  .carrosel { grid-area: carrosel; }
  
  .imgs { grid-area: imgs; }
  



   
